@page "/"
@using SampleApp.AdminPermissions;
@using SampleApp.Fruits;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


@foreach(var fruit in Fruits.Enumerable())
{
    <p>@fruit</p>
}

@foreach (var adminpermission in UserPermissions.Enumerable())
{
    <p>@adminpermission</p>
}