@page "/"
@using SampleApp.AdminPermissions;
@using SampleApp.Dummy;
@using SampleApp.Fruits;

<PageTitle>EpicEnums </PageTitle>

<h1>Epic Enums are here</h1>

Welcome to your new app.

<pre><code class='language-cs'>
public void Main()
{
  Console.WriteLine("Github Style Code blocks");
}
</code></pre>
@foreach (var fruit in Dummies.Enumerable())
{
    <p>@fruit</p>


}


@foreach(var fruit in Fruits.Values)
{
    <p>@fruit</p>
}

@foreach (var adminpermission in UserPermissions.Values)
{
    <p>@adminpermission</p>
}