@page "/"
@using SampleApp.AdminPermissions;
@using SampleApp.Dummy;
@using SampleApp.Fruits;

<PageTitle>EpicEnums </PageTitle>

<h1>Epic Enums are here</h1>

<p>Enums are great, but they can be better. EpicEnums are here to help.</p>

<p>Here are some examples of how normal enums work:</p>

<p>(Ps. im struggling to get highlight js to work)</p>

<CodeSnippet>
public enum FruitsEnum
{
    [Description("Apple")]
    Apple,
    [Description("Banana")]
    Banana,
    [Description("Orange")]
    Orange,
    [Description("Dragon fruit")]
    DragonFruit
}
</CodeSnippet>

<p>We might wanna loop over this enum: </p>
<CodeSnippet>
var values = Enum.GetValues(typeof(FruitsEnum));

foreach(var value in values)
{
    value; //Get description here somehow
}
</CodeSnippet>



<p>Now while this is all a lot of fun.. this can be better</p>



We could





@foreach(var fruit in Fruits.Values)
{
    <p>@fruit</p>
}

